.timelinecontainer {
  /* background-color: yellowgreen; */
  /* padding: 20px 20px; */
  position: relative;
  border-left: 2px solid violet;
}
.timelinecontainer::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border: 3px solid violet;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  bottom: -8px;
  left: -10px;
}
.timelinecontainer::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border: 3px solid violet;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  left: -10px;
  top: -10px;
}

.content {
  background-color: whitesmoke;
  transform: translateY(-40px);
  border-radius: 7px;
}
